<p>Bonjour {{ firstName }},</p>
<p>Merci d'avoir créé votre compte Summer Camp. Pour finaliser votre inscription, voiçi le code de vérification de votre compte:</p>

<p style="font-size: large; font-weight: bold;">
    {{ verificationCode }}
</p>

<p>Ceci est un e-mail généré automatiquement. Merci de ne pas répondre à ce message.</p>